@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


 .navbar {
    background-color: #9566cf;
}
.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    grid-gap:20px;
    align-items: center;



}
.mainindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-bottom: 0;

}
.columna a {
    color: white;
    text-decoration: none;
}
.lonuestro {
    color: #000000db;
    display: flex;
    justify-content: center;
   }

.vinosdioniso {
    color: rgb(0, 0, 0);
    margin: 50px;
    font-style: normal;
    font-family: 'Bebas Neue', cursive;

}

.destacados {
    width: 500px;

}

.presentacion {

    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../asset/dia-del-vinojpg.webp");
    background-blend-mode: lighten;
}
body  {
    font-size: 18px;
    background-image:url(../asset/2e93c700-d7fd-4ed4-8736-190a3dfbd4a6.37c7a9cb7d04028d0212ddf1fd22b1a8.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}


.historia {
    margin: 50px;
     color: #000000;
    font-style: normal;
    font-family: 'Bebas Neue', cursive;;
}
.wpp {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 80px;
}

/* FOOTER */
 .newsletter{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #9566cfe6;

    padding: 40px;
    padding-bottom: 0;

}

.footerinicio {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #9566cfe6;

    padding-inline: 1000px;
    padding-block: 10px;
}

.telefono {
    min-width: 48px;
    padding: 0;
}
.email {
    font-weight: 900;
   min-width: 48px;
     padding: 0;

}
.ubicacion {
    min-width: 48px;
    padding: 0;
} 


/* VENTANAS DE HTML  */
.soloimportados {
    text-decoration: underline;
    color: #640067db;
    display: flex;
    justify-content: center;

}
.solonacionales {
    color: #640067db;
    display: flex;
    justify-content: center;


}
.solonosotros {
    color: #640067db;
    display: flex;
    justify-content: center;


}
.fondonosotros {
    background-image: url(../asset/fondo\ nosotros.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.maincontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

}
.imagencontacto {
    background-image: url(../asset/imgcontacto.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.solocontacto {
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.contactanos {
    display: flex;
    justify-content: center;

}
.colorletracontacto{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;

}





/* Nosotros */

.historianosotros {
    margin: 50px;
    color: #000000;
    font-style: normal;
    font-family: 'Bebas Neue', cursive;
    width: 90%;
    font-weight: 900px;


}




 @media screen and (max-width: 487px)
     {

    .tarjetitascontenedor {
        grid-template-columns: 1fr;
       }
       .body {
        display: none;
       }

        .columna   {
            flex-direction: column;
            align-items: center;
        }

    }

/* Transformaciones y animaciones */

.presentacion{
    -webkit-animation:rotate-scale-up .65s linear both;
    animation:rotate-scale-up .65s linear both;
    
}

.losvinos {
    -webkit-animation:roll-in-left .6s ease-out both;
        animation:roll-in-left .6s ease-out both;


 }
 .imgproducto {
    -webkit-animation:scale-in-hor-center .5s cubic-bezier(.25,.46,.45,.94) both;
    animation:scale-in-hor-center .5s cubic-bezier(.25,.46,.45,.94) both;
 }
.soloimportados {
   -webkit-animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both;
   animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both;
}
@-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}
@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}

@-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}

@-webkit-keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}@keyframes scale-in-hor-center{0%{-webkit-transform:scaleX(0);transform:scaleX(0);opacity:1}100%{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}}

@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}